<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login To Calendar App</title>
</head>
<body>
<h1>Login</h1>
<form name='f' action="" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input name="submit" type="submit" value="submit" /></td>
            <br>
            <!--<a href="${pageContextrequest.contextPath}/account/login.html">Sign Up</a>-->
        </tr>
    </table>
</form>
</body>
</html>